//- We need two bools passed in for the nav buttons
//- admin
//- loggedIn
html
    head
        title="Web Final"
        link(href="styles/style.css" rel="stylesheet" type="text/css")
        script(src = "/scripts/layout.js")
    body(class = "body")
        nav
            button(class="nav-button" onclick="redirect('')")="Home"
            if(admin)
                button(class="nav-button" onclick="redirect('admin')")="Admin"
            div(class="right")
                if(loggedIn)
                    button(class="nav-button hidden" onclick="redirect('logout')")="Logout"
                else
                    button(class="nav-button" onclick="redirect('login')")="Login"
                    button(class="nav-button" onclick="redirect('register')")="Register"
        div(class = "content")
            block content
    footer