extends layout.pug

block content
    h1="Login"
    form(action='login' method='post')
        div(class='form')
            div(class='input-holder')
                input(class="input" name = "username" placeHolder="username" type="text" required)
            div(class='input-holder')
                input(class="input" name = "password" placeHolder="password" type="password" required)
            div(class='input-holder')
                input(class='submit' type="submit" value="Login")